<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Application Test Automation Test Suite">
	
	
<listeners>
		<listener class-name="com.amz.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="FLPKRT App Test Cases">
		<classes>
			<class name="com.amz.qa.testcases.AccountPageTest"></class>
			<class name="com.amz.qa.testcases.HomePageTest"></class>
		</classes>
	</test>
</suite>
